@model Mekaniko_Secured.Models.Dto.CustomerDto

@{
    var makes = ViewBag.Makes as List<Mekaniko_Secured.Models.Dto.MakeDto>;
}

<h2>Customer Details</h2>
<div class="customer-details mt-5">
    <p>Customer ID: <span class="fw-bold">@Model.CustomerId</span></p>
    <p>Customer Name: <span class="fw-bold">@Model.CustomerName</span></p>
    <p>Email Address: <span class="fw-bold">@Model.CustomerEmail</span></p>
    <p>Contact #: <span class="fw-bold">@Model.CustomerNumber</span></p>
  @*   <div class="group">
        <label asp-for="CustomerId"></label><br />
        <input asp-for="CustomerId" readonly />
    </div>
    <div class="group">
        <label asp-for="CustomerName"></label><br />
        <input asp-for="CustomerName" readonly />
    </div>
    <div class="group">
        <label asp-for="CustomerEmail"></label><br />
        <input asp-for="CustomerEmail" readonly />
    </div>
    <div class="group">
        <label asp-for="CustomerNumber"></label><br />
        <input asp-for="CustomerNumber" readonly />
    </div> *@
</div>

<div class="d-flex justify-content-between align-items-center container mt-5">
    <div class="left">
        <h3>Car List</h3>
    </div>
    <div class="right">
        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addCarModal"><i class="bi bi-plus-square-fill"></i> Car</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Car ID</th>
            <th class="text-center">Rego #</th>
            <th class="text-center">Make</th>
            <th class="text-center">Model</th>
            <th class="text-center">Year</th>
            <th class="text-center">Status</th>
            <th class="text-center" style="width: 230px;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Car)
        {
            <tr>
                <td class="text-center">@car.CarId</td>
                <td class="text-center">@car.CarRego</td>
                <td class="text-center">
                    @foreach (var name in car.Make)
                    {
                        <span>@name.MakeName</span>
                    }
                </td>
                <td class="text-center">@car.CarModel</td>
                <td class="text-center">@car.CarYear</td>
                <td class="text-center">@car.CarPaymentStatus</td>
                <td class="text-center">
                    <div>
                        <a class="btn btn-sm btn-primary" asp-controller="Car" asp-action="GetCarInvoice" asp-route-id="@car.CarId"><i class="bi bi-receipt-cutoff"></i> Invoice</a>
                        <a class="btn btn-sm btn-secondary ms-2" asp-controller="Quotation" asp-action="GetCarQuotation" asp-route-id="@car.CarId"><i class="bi bi-receipt"></i> Quote</a>
                        <a href="#" class="btn btn-sm btn-danger  delete-car-btn ms-2" data-id="@car.CarId" data-rego="@car.CarRego" data-model="@car.CarModel" data-year="@car.CarYear">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@*Partial View for car modals*@
@Html.Partial("_CustomerCarModals")

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script>
        // Provide the CSRF token and URLs to your external script
        var csrfToken = $('input[name="__RequestVerificationToken"]').val();
        var addCarUrl = '@Url.Action("AddCarToCustomer", "Car")';
        var deleteCarUrl = '@Url.Action("DeleteCar", "Car")';
    </script>
    <script src="~/js/car.js"></script>
}