@model List<Mekaniko_Secured.Models.Dto.CustomerSummaryDto>

<div class="d-flex justify-content-between align-items-center container mt-5">
    <div class="left">
        <h2>Customer List</h2>
    </div>
    <div class="right">
        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
            <i class="bi bi-plus-square-fill"></i> Customer
        </a>
    </div>
</div>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Customer Name</th>
            <th class="text-center">Email Address</th>
            <th class="text-center">Contact #</th>
            <th class="text-center" style="width: 150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td class="text-center">@customer.CustomerId</td>
                <td class="text-center">@customer.CustomerName</td>
                <td class="text-center">@customer.CustomerEmail</td>
                <td class="text-center">@customer.CustomerNumber</td>
                <td class="text-center">
                    <div class="">
                        <a class="btn btn-sm btn-primary" asp-controller="Customer" asp-action="GetCustomerCars" asp-route-id="@customer.CustomerId"><i class="bi bi-car-front"></i> View</a>
                        <a class="btn btn-sm btn-danger ms-2 delete-customer-btn" data-id="@customer.CustomerId" data-name="@customer.CustomerName" data-email="@customer.CustomerEmail" data-number="@customer.CustomerNumber"><i class="bi bi-trash3-fill"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Render the partial view for modals *@
@Html.Partial("_CustomerModals")



@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script>
        // Provide the CSRF token and URL to your external script
        var csrfToken = $('input[name="__RequestVerificationToken"]').val();
        var addCustomerUrl = '@Url.Action("AddNewCustomer", "Customer")';
        var deleteCustomerUrl = '@Url.Action("DeleteCustomer", "Customer")';
    </script>
    <script src="~/js/customer.js"></script>
}