@model List<Mekaniko_Secured.Models.Dto.CustomerSummaryDto>

<div class="d-flex justify-content-between align-items-center container">
    <div class="left">
        <h2>Customer List</h2>
    </div>
    <div class="right">
        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
            <i class="bi bi-plus-square-fill"></i> Customer
        </a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Email Address</th>
            <th>Contact #</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.CustomerName</td>
                <td>@customer.CustomerEmail</td>
                <td>@customer.CustomerNumber</td>
                <td>
                    <div class="">
                        <a class="" asp-controller="Customer" asp-action="GetCustomerCars" asp-route-id="@customer.CustomerId"><i class="bi bi-pencil-square"></i></a>
                        <a class="ms-2 delete-customer-btn" data-id="@customer.CustomerId" data-name="@customer.CustomerName" data-email="@customer.CustomerEmail" data-number="@customer.CustomerNumber"><i class="bi bi-trash3-fill"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Render the partial view for modals *@
@Html.Partial("_CustomerModals")



@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script>
        // Provide the CSRF token and URL to your external script
        var csrfToken = $('input[name="__RequestVerificationToken"]').val();
        var addCustomerUrl = '@Url.Action("AddNewCustomer", "Customer")';
        var deleteCustomerUrl = '@Url.Action("DeleteCustomer", "Customer")';
    </script>
    <script src="~/js/customer.js"></script>
}